<div class="main">
  <div class="left">
    <ul>
      <li class="menu-heading">OnelineRecrute</li>
      <li>
        <a data-toggle="tab" href="#dashboard1">
          <i class="fa fa-rocket fa-lg"></i>
          answered-questions-per-test
        </a>
      </li>
      <li>
        <a data-toggle="tab" href="#dashboard2">
          <i class="fa fa-rocket fa-lg"></i>
          applicants-per-period
        </a>
      </li>
      <li>
        <a data-toggle="tab" href="#dashboard3">
          <i class="fa fa-rocket fa-lg"></i>
          candidates-per-test
        </a>
      </li>
      <li>
        <a data-toggle="tab" href="#dashboard4">
          <i class="fa fa-rocket fa-lg"></i>
          failure-per-test
        </a>
      </li>
      <li>
        <a data-toggle="tab" href="#dashboard5">
          <i class="fa fa-rocket fa-lg"></i>
          participant-percentage-per-test
        </a>
      </li>
      <li>
        <a data-toggle="tab" href="#dashboard6">
          <i class="fa fa-rocket fa-lg"></i>
          success-per-test
        </a>
      </li>
    </ul>
  </div>
  <div class="right">
    <div class="tab-content">
      <div id="dashboard1" class="tab-pane fade">
        <div class="header">
          <h4>Repartions des questions par test</h4>
        </div>

        <app-answered-questions-per-test></app-answered-questions-per-test>

      </div>
      <div id="dashboard2" class="tab-pane fade">
        <div class="header">
          <h4>Candidature par Jour</h4>
        </div>

        <app-applicants-per-period></app-applicants-per-period>

      </div>
      <div id="dashboard3" class="tab-pane fade">
        <div class="header">
          <h4>Repartition des candidats par test</h4>
        </div>

        <app-candidates-per-test></app-candidates-per-test>

      </div>
      <div id="dashboard4" class="tab-pane fade">
        <div class="header">
          <h4>Repartition des succes par test</h4>
        </div>

        <app-failure-per-test></app-failure-per-test>

      </div>
      <div id="dashboard5" class="tab-pane fade">
        <div class="header">
          <h4>Repartition des pourcentage par test et candidat</h4>
        </div>

        <app-participant-percentage-per-test></app-participant-percentage-per-test>

      </div>
      <div id="dashboard6" class="tab-pane fade">
        <div class="header">
          <h4>Repartition des succes par test</h4>
        </div>

        <app-success-per-test></app-success-per-test>

      </div>
    </div>
  </div>
</div>
