<div class="main">
  <div class="left">
    <ul>
      <li class="menu-heading">OnelineRecrute</li>
      <li>
        <a data-toggle="tab" href="#dashboard1">
          <i class="fa fa-rocket fa-lg"></i>
          Repartition des question par test
        </a>
      </li>
      <li>
        <a data-toggle="tab" href="#dashboard2">
          <i class="fa fa-rocket fa-lg"></i>
          Nombre de demandes par jour
        </a>
      </li>
      <li>
        <a data-toggle="tab" href="#dashboard3">
          <i class="fa fa-rocket fa-lg"></i>
          Repartition des candidats par test
        </a>
      </li>
      <li>
        <a data-toggle="tab" href="#dashboard4">
          <i class="fa fa-rocket fa-lg"></i>
          Repartion des echoues par test
        </a>
      </li>
      <li>
        <a data-toggle="tab" href="#dashboard5">
          <i class="fa fa-rocket fa-lg"></i>
          Pourcentage par candidat et par test
        </a>
      </li>
      <li>
        <a data-toggle="tab" href="#dashboard6">
          <i class="fa fa-rocket fa-lg"></i>
          Repartition des passants par test
        </a>
      </li>
      <li>
        <a data-toggle="tab" href="#dashboard7">
          <i class="fa fa-rocket fa-lg"></i>
          Liste Meilleurs Prolils
        </a>
      </li>
    </ul>
  </div>
  <div class="right">
    <div class="tab-content">
      <div id="dashboard1" class="tab-pane fade">
        <app-answered-questions-per-test></app-answered-questions-per-test>
      </div>
      <div id="dashboard2" class="tab-pane fade">
        <app-applicants-per-period></app-applicants-per-period>
      </div>
      <div id="dashboard3" class="tab-pane fade">
        <app-candidates-per-test></app-candidates-per-test>
      </div>
      <div id="dashboard4" class="tab-pane fade">
        <app-failure-per-test></app-failure-per-test>
      </div>
      <div id="dashboard5" class="tab-pane fade">
        <app-participant-percentage-per-test></app-participant-percentage-per-test>
      </div>
      <div id="dashboard6" class="tab-pane fade">
        <app-success-per-test></app-success-per-test>
      </div>
      <div id="dashboard7" class="tab-pane fade">
        <app-best-profil></app-best-profil>
      </div>
    </div>
  </div>
</div>
