<div class="imgh">
  <img src="./../../../assets/img/Headerrrr.jpg" width="100%" height="65px">
</div>
<nav class="navbar navbar-expand-lg " style="background-color: teal;">
    <a class="navbar-brand" href="#">OnlineRecrute</a>
    <button class="navbar-toggler" type="button"  data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon "><mat-icon>menu</mat-icon></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link active" style="color: white;" href="#"><mat-icon>home</mat-icon>Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" style="color: white;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <mat-icon>work</mat-icon>Offres d'Emploi
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
  
            
            <div class="container">
              <div class="row">
                <div class="col-md-3">
                  <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link active" href="#" style="color: teal;font-size: larger;">Informatique(5)</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Cybersecurite</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Reseaux</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Developpement logiciel</a>
                  </li>
                </ul>
                </div>
                <!-- /.col-md-4  -->
                <div class="col-md-3">
                  <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link active" href="#" style="color: teal;font-size: larger;">Medecine (5)</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Infirmier(e)</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Kinesite Terapeute</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Aide soignant</a>
                  </li>
                </ul>
                </div>
                <!-- /.col-md-4  -->
                <div class="col-md-3">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link active" href="#" style="color: teal;font-size: larger;">Enseignement(10)</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Gardien </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Enseignant anglais</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Repetiteur</a>
                    </li>
                
                  </ul>
                </div>
                <div class="col-md-3">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link active" href="#" style="color: teal;font-size: larger;">Hotellerie(10)</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Menagere</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Consiege</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Cuisiniere</a>
                    </li>
                  </ul>
                </div>
                <!-- /.col-md-4  -->
              </div>
            </div>
            <!--  /.container  -->
  
  
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" style="color: white;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <mat-icon>work_outline</mat-icon> Nos Stages
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
  
  
            <div class="container">
              <div class="row">
                <div class="col-md-4">
               
                  <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link active" style="color: teal;" href="#">Accademique(3)</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Comptabilite</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Gestion</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Infographie</a>
                  </li>
                </ul>
                </div>
                <!-- /.col-md-4  -->
                <div class="col-md-4">
                  <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link active" style="color: teal;" href="#">Professionnels(6)</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Bureautique</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Reseaux</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Developpement logiciel</a>
                  </li>
                </ul>
                </div>
                <!-- /.col-md-4  -->
                <div class="col-md-4">
                  <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link active" style="color: teal;" href="#">Professionnels Remuneratif(6)</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Bureautique</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Reseaux</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Developpement logiciel</a>
                  </li>
                </ul>
                </div>
               
                <!-- /.col-md-4  -->
              </div>
            </div>
            <!--  /.container  -->
  
  
          </div>
        </li>
       
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
      </form>

      <span class="text-uppercase text-white" ><a href="#" style="color: white;"><mat-icon>login</mat-icon>Sign in</a></span>
    <button type="button" class="btn btn-success">Sign up</button>

   

    </div>

  
  </nav>

 
