<div class="imgh">
  <img src="./../../../assets/img/Headerrrr.jpg" width="100%" height="65px" />
</div>
<nav class="navbar navbar-expand-lg" style="background-color: darkslategrey;">
  <a class="navbar-brand" href="#">OnlineRecrute</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"><mat-icon>menu</mat-icon></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link active" style="color: white;" href="/home"
          ><mat-icon>home</mat-icon>Home</a
        >
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link active"
          style="color: white;"
          href="/offres"
        >
          <mat-icon>work</mat-icon>Nos Offres
        </a>

      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link active"
          style="color: white;"
          href="/dashboard"
        >
          <mat-icon>work_outline</mat-icon> Dashboard
        </a>

      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
    <div id="signup-login" [hidden]="show_logout()">
      <span style="padding: 15px;">
        <button  class="btn btn-default" (click)="signin()">Sign in</button>
      </span>
      <button class="btn btn-success" (click)="signup()">Sign up</button>
    </div>
    <div id="logout" [hidden]="!show_logout()">
      <button  class="btn btn-default" (click)="logout()">Logout</button>
    </div>
  </div>
</nav>
