<div class="container-fluid">
	<div class="row justify-content-center">
	  <div class="col-11 col-sm-10 col-md-10 col-lg-6 col-xl-5 text-center p-0 mt-3 mb-2">
		<div class="card px-0 pt-4 pb-0 mt-3 mb-3">
		  <h2 id="heading">Creation d'un Test</h2>
		  <p>Tous les champs doivent etre remplis</p>
		  <form id="msform">
			
			<ul id="progressbar">
			  <li class="active" id="steps"><strong><mat-icon>local_offer</mat-icon>Libelle</strong></li>
			  <li id="personal"><strong><mat-icon>work</mat-icon>Questions</strong></li>
			  <li id="confirm"><strong><mat-icon>done_all</mat-icon>Termine</strong></li>
			</ul>
		 
			<fieldset>
			  <div class="form-card">
				<div class="row">
				  <div class="col-7">
					<h2 class="fs-title">Informations sur l'offre:</h2>
				  </div>
				  <div class="col-5">
					<h2 class="steps">Etape 1 - 3</h2>
				  </div>
				</div>
				<label class="fieldlabels">Titre: *</label>
				<input type="text" name="titre" placeholder="Recherche d'une menagere, Emploi Etudiant...etc" />
  
  
				<label class="fieldlabels">Duree du test: *</label> <input type="text" name="date_debut"
				  placeholder="20 min" />
			
			  </div>
			  <input type="button" name="next" class="next action-button" value="Next" />
  
			</fieldset>
			<fieldset>
			  <div class="form-card">
				<div class="row">
				  <div class="col-7">
					<h2 class="fs-title">Questions du test:</h2>
				  </div>
				  <div class="col-5">
					<h2 class="steps">Etape 2 - 3</h2>
				  </div>
				</div>
				<div class="row">
					
				</div>
  
			  </div> <input type="button" name="next" class="next action-button" value="Next" /> <input type="button"
				name="previous" class="previous action-button-previous" value="Previous" />
			</fieldset>
			
			<fieldset>
			  <div class="form-card">
				<div class="row">
				  <div class="col-7">
					<h2 class="fs-title">Termine:</h2>
				  </div>
				  <div class="col-5">
					<h2 class="steps">Etape 3 - 3</h2>
				  </div>
				</div> <br><br>
				<h2 class="purple-text text-center"><strong>SUCCES !</strong></h2> <br>
				<div class="row justify-content-center">
				  <div class="col-3"> <img src="https://i.imgur.com/GwStPmg.png" class="fit-image"> </div>
  
				</div> <br><br>
				<div class="row justify-content-center">
				  <div class="col-7 text-center">
					<h5 class="purple-text text-center">Votre offre a ete bien cree</h5>
				  </div>
				</div>
			  </div>
			</fieldset>
		  </form>
		</div>
	  </div>
	</div>
  </div>