<div class="inscription clearfix">
  <form >
    <h2>Postuler</h2>
    <div>
      <mat-card>
        <mat-card-actions>
          <button mat-button #up color="warn" (click)="onClick()">
            <h3>Upload CV</h3>
            <mat-icon>file_upload</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
      <input type="file" #fileInput id="fileUpload" name="fileUpload"
        accept="pdf/*" style="display:none;" />
    </div>
    <div style="margin-top:2em;">
      <button mat-raised-button color="primary" type="submit" (click)="apply()">
        Publier
      </button>
    </div>
  </form>
  <div class="message">

    <ul  *ngIf="cv_file">
        <li>
            <span id="file-label">
              Nom : {{cv_file.data.name}}
            </span>
        </li>
        <li>
          <span id="file-size">
            Taille : {{cv_file.data.size}}
          </span>
      </li>
    </ul>
  </div>
</div>
