.clearfix:after{
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
   }
.clearfix {display: block;}
html[xmlns] .clearfix {display: block;}
* html .clearfix {height: 1%;}

html{box-sizing: border-box}
*, *:after,*:before {box-sizing: inherit}


.inscription{
 width: 60%;
 margin: 0 auto;
 background: #82CCC8;
 text-align: center;
 border-radius: 10px;
 margin-top : 20px;
 }
form{
 float:left;
}
h2{
 font-family: tahoma;
 color : #fff;
 padding: 10px;
}

input{
 margin: 5px 20px;
 width: 250px;
 color: black;
}
.message{
 background: rgba(255, 255, 255, .8);
 width: 220px;
 height: 200px;
 margin: 20px;
 padding : 80px 5px;
 color: #EF5350;
 float : right;
 border-radius: 10px;
}

button{
 background: #fff;
 border : none;
 margin : 10px;
 color: red;
 border-radius: 4px;
 padding: 10px;
 }

 button :hover{
	 background: green;
 }