<app-header></app-header>
<div class="container">
  <div class="image-viewer">
    <div class="main-image">
      <img src="./../../../assets/img/logo5.png" />
    </div>
    
  </div>
  <div class="detail">
    <h1 class="detail-name">Titre de l'offre</h1>
    <p class="detail-short-description"> 
   Description liee a l'offre
   <p>gggggggggggggggggggggggggg
    ddddddddddddddddddddddddddddddddddddddddddddddddddd
    gggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg
    ddddddddddddddddddddddddddddddddddddddddddddddddddd
    gggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg
    ddddddddddddddddddddddddddddddddddddddddddddddddddd
    gggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg
    ddddddddddddddddddddddddddddddddddddddddddddddddddd
    gggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg
    ddddddddddddddddddddddddddddddddddddddddddddddddddd
    gggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg
    ddddddddddddddddddddddddddddddddddddddddddddddddddd
    </p>
     
 
  </div>
  <div class="pricing">
    <div class="pricing-price">$419.99</div>
    <button class="btn pricing-btn">Postuler</button>
  </div>
  <div class="lightbox" id="lightbox">
    
    <div class="lightbox-controls">
      <div class="lightbox-controls-close">
        <i class="fa fa-times" aria-hidden="true"></i>
      </div>
      <div class="lightbox-controls-previous">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
      </div>
      <div class="lightbox-controls-next">
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </div>
    </div>
  </div><br/><br/>
  
 
</div><br/>
<app-footer></app-footer>
<div style="width: 100%; background-color: black; height: 5%;">
gggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg
ddddddddddddddddddddddddddddddddddddddddddddddddddd
</div>

