<table datatable class="row-border hover">
  <thead>
    <tr>
      <th>Date</th>
      <th>Offre</th>
      <th>Evaluation</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>12/23/2020</td>
      <td>Secretaire</td>
      <td>8/15/2021</td>
    </tr>
    <tr>
      <td>10/03/2013</td>
      <td>chauffeur</td>
      <td>6/04/2014</td>
    </tr>
    <tr>
      <td>19/10/2020</td>
      <td>Infirmier</td>
      <td>05/11/2020</td>
    </tr>
    <tr>
      <td>12/10/2004</td>
      <td>Boulanger</td>
      <td>12/10/2004</td>
    </tr>
    <tr>
      <td>12/10/2005</td>
      <td>Pharmacien</td>
      <td>12/10/2005</td>
    </tr>
    <tr>
      <td>12/10/2006</td>
      <td>Community manager</td>
      <td>12/10/2006</td>
    </tr>
    <tr>
      <td>12/10/2008</td>
      <td>Guichier</td>
      <td>12/10/2008</td>
    </tr>
    <tr>
      <td>12/10/2009</td>
      <td>Commercant</td>
      <td>12/10/2009</td>
    </tr>
    <tr>
      <td>12/10/2011</td>
      <td>Marketer</td>
      <td>12/10/2011</td>
    </tr>
    <tr>
      <td>12/10/2010</td>
      <td>Developpeur web</td>
      <td>12/10/2010</td>
    </tr>
    <tr>
      <td>12/10/2016</td>
      <td>Menagere</td>
      <td>12/10/2017</td>
    </tr>
    <tr>
      <td>12/10/2012</td>
      <td>Comptable</td>
      <td>12/10/2013</td>
    </tr>
  </tbody>
</table>

