@import url('https://fonts.googleapis.com/css?family=Merriweather:300|Oswald');

/* Form fields */ 
#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background:  #82CCC8;
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background:  #82CCC8;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}
#booking-form {
     font-family: 'Merriweather', serif;
    max-width: 540px;
  margin: 40px auto;
}
#booking-form ul {
  padding-left: 0;
}
#booking-form li {
  list-style: none;
}

/* Buttons */
#booking-form .next-btn,
#booking-form .submit-btn {
    background: #82CCC8;
    padding: 13px 20px;
    color: #fff;
    font-family: oswald, sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px;
    min-width: 400px;
    display: inline-block;
    text-align: center;
    font-weight: 400;
    border-radius: 0;
    border: 0;
    transition-property: background-color;
    transition-duration: 0.5s;
    width: 100%;
    cursor: pointer;
}

#booking-form .next-btn:hover,
#booking-form .submit-btn:hover {
    background-color: #444b5d;
    color: #fff;
}





/*  Tab */
.tab-pane {
    display: none;
}
.tab-pane:first-child {
  display: block;
}

/* Error */
span.error {
  font-size: 12px;
  font-family: "helvetica neue", arial, sans-serif;
  color: #D6041D;
  text-transform: uppercase;
  display: block;
  margin-bottom: 10px;
}