

<form action="#" id="booking-form">
    <div class="col-lg-12">
        <div class="card " style="background-color: rgb(167, 208, 209);">
        <div class="card-body text-center">
        <p class="card-title mt-1">
        <a> <span  style="font-size: 1300; height: 10px;" id="time"></span></a> 
        
        </p>
        </div>
        </div>
        </div><br/><br/><br/>

    <div class="tab-content">

        <div class="tab-pane" id="step1">
            <ul>
                <li>
                    <label>Quel type de language est python ?</label><br/>
                    <div class="row text-center" style="display: inline; float: center;"> 
              
                    <input type="checkbox" >
                    <label for="vehicle1"> Interprete</label>
                
                    <input type="checkbox" id="vehicle2" name="vehicle2" value="Car"/>
                    <label for="vehicle2"> Compile</label>
                    
 </div>
                </li>
                <li style="list-style: none; display: inline">
                    <button class="next-btn next-btn1" type="button">Suivant</button>
                </li>
            </ul>
        </div>

        <div class="tab-pane" id="step2">
            <ul>
                <li>
                    <label>Quel type de language est python ?</label><br/>
                    <div class="row text-center" style="display: inline; float: center;"> 
              
                    <input type="checkbox" >
                    <label for="vehicle1"> Interprete</label>
                
                    <input type="checkbox" id="vehicle2" name="vehicle2" value="Car"/>
                    <label for="vehicle2"> Compile</label>
                    
 </div>
                </li>
                <li>
                    <button class="next-btn next-btn2" type="button">Next</button>
                </li>
            </ul>
        </div>

        <div class="tab-pane" id="step3">
            <ul>
                <li>
                    <label>Quel type de language est python ?</label><br/>
                    <div class="row text-center" style="display: inline; float: center;"> 
              
                    <input type="checkbox" >
                    <label for="vehicle1"> Interprete</label>
                
                    <input type="checkbox" id="vehicle2" name="vehicle2" value="Car"/>
                    <label for="vehicle2"> Compile</label>
                    
 </div>

                </li>
                <li>
                    <button class="next-btn next-btn3" type="button">Next</button>
                </li>
            </ul>
        </div>

        <div class="tab-pane" id="step4">
            <ul>
                <li>
                    <label>Quel type de language est python ?</label><br/>
                    <div class="row text-center" style="display: inline; float: center;"> 
              
                    <input type="checkbox" >
                    <label for="vehicle1"> Interprete</label>
                
                    <input type="checkbox" id="vehicle2" name="vehicle2" value="Car"/>
                    <label for="vehicle2"> Compile</label>
                    
 </div>
                </li>
                <li>
                    <button class="next-btn next-btn4" type="button">Next</button>
                </li>
            </ul>
        </div>

        <div class="tab-pane" id="step5">
            <ul>
                <li>
                    <label>Quel type de language est python ?</label><br/>
                    <div class="row text-center" style="display: inline; float: center;"> 
              
                    <input type="checkbox" >
                    <label for="vehicle1"> Interprete</label>
                
                    <input type="checkbox" id="vehicle2" name="vehicle2" value="Car"/>
                    <label for="vehicle2"> Compile</label>
                    
 </div>
                </li>


                <li>
                    <button class="submit-btn" type="submit">Termine</button>
                </li>
            </ul>
        </div>
    </div>

 

    <div id="loader" style="display: none;">
        <img src="//d2erq0e4xljvr7.cloudfront.net/assets/img/ring.svg">
    </div>
</form>