<div class="content">
  <h3 class="text-center">
   Repartition des echoues par test <br />
    <small>
      pour vous faciliter la vie
      <button (click)="reset_offer_id()">Votre liste d'offres ...</button>
    </small>
  </h3>

  <div *ngIf="offer_id == 0">
    <div class="row" *ngFor="let offer of offers">
      <div class="card">
        <div class="cardcontent">
          <p>{{ offer.begins }}</p>
          <h3>{{ offer.title }}</h3>
          <p></p>
        </div>
        <div class="cardfooter">
          <button class="btn btn-info" (click)="set_offer_id(offer.id)">
            Consulter
          </button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="offer_id != 0">
    <div class="card">
      <div class="row">
        <div class="col-md-10">
          <canvas
            baseChart
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"
            [plugins]="lineChartPlugins"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"
          >
          </canvas>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-10">
          <canvas
            baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [chartType]="barChartType"
          >
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>
