<label for="state">Nom Companie:</label>
<input name="nom" type="text" value="">

<label for="secteur">Secteur activite</label>
<select name="secteur" id="country">
  <option disabled selected="selected">Select</option>
  <option value="aucune">Agriculture</option>
  <option value="chaussure">Informatique</option>
</select>

<label class="fieldlabels">Email:</label>
<input type="email" name="email" placeholder="company@company">
<label class="fieldlabels">Site web:</label>
<input type="text" name="url" placeholder="url">
<label class="fieldlabels">Localisation:</label>
<input type="text" name="localisation" placeholder="localisation">
