<div class="wrapper">
    <div class="split-layout">
    
    <div class="split-layout__item">
      <h2>CANDIDAT</h2>
      <p>
        Nous vous donnons la possibiliter de postuler directement 
        aux offres d'emploi.
         etre avise une fois qu'une offre nous parvient.      </p>
    </div>
    
    <div class="split-layout__divider">
      <div class="split-layout__rule"></div>
      <div class="split-layout__label">Ou</div>
      <div class="split-layout__rule"></div>
    </div>
    
    <div class="split-layout__item">
      <h2>RECRUTEUR</h2>
      <p>
        Nous vous afranchissons de la lourde tache d'evaluer vos candidats 
        en vous proposant aux besoin une evaluation en ligne de vos candidats.
      </p>
    </div>
    
  </div>
  </div>
  