<!-- <div class="wrapper">
    <div class="split-layout">
    
    <div class="split-layout__item">
      <h2>CANDIDAT</h2>
      <p>
        Nous vous donnons la possibiliter de postuler directement 
        aux offres d'emploi.
         etre avise une fois qu'une offre nous parvient.      </p>
    </div>
    
    <div class="split-layout__divider">
      <div class="split-layout__rule"></div>
      <div class="split-layout__label">Ou</div>
      <div class="split-layout__rule"></div>
    </div>
    
    <div class="split-layout__item">
      <h2>RECRUTEUR</h2>
      <p>
        Nous vous afranchissons de la lourde tache d'evaluer vos candidats 
        en vous proposant aux besoin une evaluation en ligne de vos candidats.
      </p>
    </div>
    
  </div>
  </div>

   -->
   <!--http://callmenick.com/post/simple-parallax-scrolling-effect-->

<section class="module parallax parallax-1">
  <div class="container text-center">
    <h1></h1>
  </div>
</section>

<section class="module content">
  <div class="container padding-enlarge">
    <div class="wrapper" id="section_scroll">
      <div class="split-layout">
      
      <div class="split-layout__item">
        <h2 style="text-align: center;">CANDIDAT</h2>
        <p style="text-align: justify;">
          Nous vous donnons la possibiliter de postuler directement 
          aux offres d'emploi.
           etre avise une fois qu'une offre nous parvient.      </p>
      </div>
      
      <div class="split-layout__divider">
        <div class="split-layout__rule"></div>
        <div class="split-layout__label">Ou</div>
        <div class="split-layout__rule"></div>
      </div>
      
      <div class="split-layout__item">
        <h2 style="text-align: center;">RECRUTEUR</h2>
        <p style="text-align: justify;">
          Nous vous afranchissons de la lourde tache d'evaluer vos candidats 
          en vous proposant aux besoin une evaluation en ligne de vos candidats.
        </p>
      </div>
      
    </div>
    </div>
  </div>
</section>

<section class="module parallax parallax-2">
  <div class="container text-center">
    <h1 id="animation"></h1>
  </div>
</section>

<section class="module content">
  <div class="container padding-enlarge">
    <h2><mat-icon style="font-size: xx-large">fiber_new</mat-icon> Nouveaux profiles</h2><br/>
   
    <div class="row" style="height: 50%;">
   
    <div class="card" style="width: 18rem;">
      <img src="./../../../assets/img/4.jpg" class="card-img-top"  alt="...">
      <div class="card-body" style="height: auto;">
        <h5 class="card-title">Divine alontsi</h5>
        <p class="card-text" style="">
          Experience : 5 ans  <br/>
          Niveau d'etude: Bacc + 4
        </p>
        <div class="action-buttons">
          <button class="btn " style="background-color: rgb(103, 192, 103, 0.75);" type="button">En savoir plus</button>
        </div>
      </div>
    </div>

   
    <div class="card" style="width: 18rem; margin-left: auto;">
      <img src="./../../../assets/img/20.jpg" class="card-img-top"  alt="...">
      <div class="card-body">
        <h5 class="card-title">Divine alontsi</h5>
        <p class="card-text">
          Experience : 5 ans  <br/>
          Niveau d'etude: Bacc + 4
        </p>
        <div class="action-buttons">
          <button class="btn " style="background-color: rgb(103, 192, 103, 0.75);" type="button">En savoir plus</button>
        </div>
      </div>
    </div>

   
    <div class="card" style="width: 18rem; margin-left: auto;">
      <img src="./../../../assets/img/20.jpg" class="card-img-top"  alt="...">
      <div class="card-body">
        <h5 class="card-title">Divine alontsi</h5>
        <p class="card-text">
          Experience : 5 ans  <br/>
          Niveau d'etude: Bacc + 4
        </p>
        <div class="action-buttons">
          <button class="btn " style="background-color: rgb(103, 192, 103, 0.75);" type="button">En savoir plus</button>
        </div>
      </div>
    </div>

    
   
    </div><br/><br/><br/>

    <a href="#" class="more" style="padding-top: 10rem;">Voir plus...</a>
  </div>
</section>

<section class="module parallax parallax-3">
  <div class="container text-center">
    <h1></h1>
  </div>
</section>


