<div class="row">
  <div class="col-md-3">
    <header class="py-3 bg-dark">
      <a href="#" class="sidebar-toggler position-absolute m-2 bg-white d-block d-md-none" data-toggle="collapse"
        data-target="#sidebar-main" aria-controls="sidebar-main" aria-expanded="false" aria-label="Toggle navigation">
        <span class="sidebar-toggler-icon"></span>
      </a>
      <h1 class="text-center text-white"><small>Toutes les Offres</small></h1>
    </header>

    <!-- Main sidebar -->
    <div id="sidebar-main" class="sidebar sidebar-default sidebar-separate sidebar-fixed">
      <div class="sidebar-content">
        <div class="sidebar-category sidebar-default">
          <div class="sidebar-user">
            <div class="category-content">
              <h6>Categories</h6>
              <small>offres</small>
            </div>
          </div>
        </div>
        <!-- /Sidebar Category -->
        <div class="sidebar-category sidebar-default">
          <div class="category-title">
            <span>Emplois</span>
          </div>
          <div class="category-content">
            <ul id="fruits-nav" class="nav flex-column">
              <li class="nav-item" *ngFor="let category of categories">
                <a href="#" class="nav-link">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                  {{category}}
                </a>
              </li>
            </ul>
            <!-- /Nav -->
          </div>
          <!-- /Category Content -->
        </div>
        <!-- /Sidebar Category -->
        <div class="sidebar-category sidebar-default">
          <div class="category-title">
            <span>Stage</span>
          </div>
          <div class="category-content">
            <ul id="sidebar-editable-nav" class="nav flex-column">
              <li class="nav-item" *ngFor="let category of categories">
                <a class="nav-link" (click)="getOfferByCategory(category)">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                  {{category}}
                </a>
              </li>
            </ul>
            <!-- /Nav -->
          </div>
          <!-- /Category Content -->
        </div>
        <!-- /Sidebar Category -->
      </div>
    </div>


  </div>
  <div class="col-md-7">
    <h1>Ne ratez aucune offre</h1>
    <p>Nos offres sont presentees suivant un ordre chronologique, ne manquez aucune offre.Soyez les premiers a etre
      notifie des prochaines offres en cliquant sur le lien suivant <a href="#">clic ici</a>
    </p>

    <div class="wrapper">
      <table datatable class="" style="width:100%" id="offers">
        <thead>
          <tr>
            <th>Liste Des Offres</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let offer of offers">
            <td (click)="getSelectedOffer(offer)">
              <div class="card">
                <div class="card-header">
                  <span class="demoname">
                    {{offer.offer_type}} : {{offer.title}} au poste de {{offer.post}}
                  </span>
                </div>
                <div class="card-body">
                  <div class="demoname">
                    <div>Contrat: {{offer.contract_type}}</div>
                    <div>Etudes: {{offer.level}}</div>
                    <div>Annee(s) d'experience: {{offer.experience}}</div>
                    <div>Competence(s): {{offer.competence}}</div>
                    <div>Salaire: {{offer.salary}}</div>
                    <div>{{offer.description}}</div>
                  </div>

                </div>
                <div class="card-footer">
                  <div style="float: left;">Du {{offer.begins}} au {{offer.ends}}</div>
                  <div style="float: right;">
                    <div class="postuler">
                      <button type="button" (click)="go_to_apply(offer)" class="btn btn-outline-success">
                        Postuler
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>
  <div class="col-md-2">
    <br />
    <br />
    <br />
    <div class="card">
      <div class="card-body" style="text-align: center;">
        <b>Partenaires</b>
      </div><br />
      <div class="card">
        <div class="card-body">
          <div class="sblogos__col">
            <a href="#" class="sblogos__link"><img class="sblogos__img" src="./../../../assets/img/logo1.webp"
                alt="logo" width="100%" /></a>
          </div>

        </div><br />
        <div class="card">
          <div class="card-body">
            <div class="sblogos__col">
              <a href="#" class="sblogos__link">
                <img class="sblogos__img" src="./../../../assets/img/logo2.jpg" alt="logo" width="100%" /></a>
            </div>
          </div><br />
          <div class="card">
            <div class="card-body">
              <div class="sblogos__col">
                <a href="#" class="sblogos__link"><img class="sblogos__img" src="./../../../assets/img/logo3.png"
                    width="100%" alt="logo" /></a>
              </div>

            </div><br />
            <div class="card">
              <div class="card-body">
                <div class="sblogos__col">
                  <a href="#" class="sblogos__link"><img class="sblogos__img" width="100%"
                      src="./../../../assets/img/logo5.png" alt="logo" /></a>
                </div>

              </div>
              <div class="card">
                <div class="card-body">
                  <div class="sblogos__col">
                    <a href="#" class="sblogos__link"><img class="sblogos__img" width="100%"
                        src="./../../../assets/img/logo6.png" alt="logo" /></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
