<style> 
    #filter__All:hover,#filter__All.active {
      background-color:#333333;
      color:#fff;
    }
    #filter__Chemicals:hover,#filter__Chemicals.active {
      background-color:#F44336;
      color:#fff;
    }
    #filter__Financial:hover,#filter__Financial.active {
      background-color:#9C27B0;
      color:#fff;
    }
    #filter__HomeAppliance:hover,#filter__HomeAppliance.active {
      background-color:#1B5E20;
      color:#fff;
    }
    #filter__InformationTechnology:hover,#filter__InformationTechnology.active {
      background-color:#aaaaaa;
      color:#fff;
    }
    #filter__Insurance:hover,#filter__Insurance.active {
      background-color:#009688;
      color:#fff;
    }
    #filter__Manufacturing:hover,#filter__Manufacturing.active {
      background-color:#FF5722;
      color:#fff;
    }
    #filter__Mining:hover,#filter__Mining.active {
      background-color:#795548;
      color:#fff;
    }
    #filter__Pharmaceutical:hover,#filter__Pharmaceutical.active {
      background-color:#607D8B;
      color:#fff;
    }
    #filter__StateLocal:hover,#filter__StateLocal.active {
      background-color:#FFA000;
      color:#fff;
    }
    #filter__Telecommunications:hover,#filter__Telecommunications.active {
      background-color:#219ae2;
      color:#fff;
    }
  
  </style>
  <div class="container">
    <div class="row">
      <div class="col-md-12 tv-icons-filter-container-tm">
          <ul class="tv-filter-tm">
            <li id="filter__All" class="active" >All</li>
            <li id="filter__Chemicals"  data-category="chemicals">Chemicals</li>
            <li id="filter__Financial" data-category="financial">Financial</li>
            <li id="filter__HomeAppliance" data-category="homeappliance">Home Appliance</li>
            <li id="filter__InformationTechnology" data-category="informationtechnology">Information Technology</li>
            <li id="filter__Insurance" data-category="insurance">Insurance</li>
            <li id="filter__Manufacturing" data-category="manufacturing">Manufacturing</li>
            <li id="filter__Mining" data-category="mining">Mining</li>
            <li id="filter__Pharmaceutical" data-category="pharmaceutical">Pharmaceutical</li>
            <li id="filter__StateLocal" data-category="statelocal">State & Local</li>
            <li id="filter__Telecommunications" data-category="telecommunications">Telecommunications</li>
          </ul>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row tv-case-studies">
      <div class="col-md-4 tv-filter-item tv-case-study tv-case-study-show" data-category="telecommunications">
        
        <article class="tv-card-tm">
          
          <figure class="tv-thumb-card-tm">
            <a href="#">
              <img src="https://www.artelys.com/uploads/images/telecommunications/Tel2.jpg" alt="" />
            </a>
            <div class="tv-card-icon-tm" style="background-color:#219ae2;">
              <a href="#">
               <i class="material-icons">settings_input_antenna</i>
              </a>
            </div>
            <div class="tv-card-category-tm" style="background-color:#219ae2;">
              <a href="#">Telecommunication</a></div>
          </figure>
          <div class="tv-card-title-tm">
            <a href="#">
              Telecommunications
            </a>
          </div>
          <div class="tv-card-sub-title-tm">
            <p>Some Sub title important...</p>
          </div>
          <div class="tv-card-description-tm">
            <p>Some Description for de case study not too long...</p>
          </div>
          <div class="tv-card-footer-tm">
            <div class="row">
              <div class="col-md-6">
                <span class="tv-card-time-tm"><i class="material-icons">access_time</i> May 2016</span>
              </div>
              <div class="col-md-6 tv-card-link">
              <a href="#"> Learn More...</a>
              </div>
            </div>
            
          </div>
        </article>
        <!-- End Card Item -->
        
        
      </div>
      <div class="col-md-4 tv-filter-item tv-case-study tv-case-study-show" data-category="chemicals">
        <article class="tv-card-tm">
          
          <figure class="tv-thumb-card-tm">
            <a href="#">
              <img src="https://www.artelys.com/uploads/images/telecommunications/Tel2.jpg" alt="" />
            </a>
            <div class="tv-card-icon-tm" style="background-color:#F44336;">
              <a href="#">
               <i class="material-icons">settings_input_antenna</i>
              </a>
            </div>
            <div class="tv-card-category-tm" style="background-color:#F44336;">
              <a href="#">Chemicals
              </a></div>
          </figure>
          <div class="tv-card-title-tm">
            <a href="#">
              Chemicals
  
            </a>
          </div>
          <div class="tv-card-sub-title-tm">
            <p>Some Sub title important...</p>
          </div>
          <div class="tv-card-description-tm">
            <p>Some Description for de case study not too long...</p>
          </div>
          <div class="tv-card-footer-tm">
            <div class="row">
              <div class="col-md-6">
                <span class="tv-card-time-tm"><i class="material-icons">access_time</i> May 2016</span>
              </div>
              <div class="col-md-6 tv-card-link">
              <a href="#"> Learn More...</a>
              </div>
            </div>
            
          </div>
        </article>
        <!-- End Card Item -->
      </div>
      <div class="col-md-4 tv-filter-item tv-case-study" data-category="financial">
        <article class="tv-card-tm">
          
          <figure class="tv-thumb-card-tm">
            <a href="#">
              <img src="https://www.artelys.com/uploads/images/telecommunications/Tel2.jpg" alt="" />
            </a>
            <div class="tv-card-icon-tm" style="background-color:#9C27B0;">
              <a href="#">
               <i class="material-icons">settings_input_antenna</i>
              </a>
            </div>
            <div class="tv-card-category-tm" style="background-color:#9C27B0;">
              <a href="#">Financial</a></div>
          </figure>
          <div class="tv-card-title-tm">
            <a href="#">
              Financial
            </a>
          </div>
          <div class="tv-card-sub-title-tm">
            <p>Some Sub title important...</p>
          </div>
          <div class="tv-card-description-tm">
            <p>Some Description for de case study not too long...</p>
          </div>
          <div class="tv-card-footer-tm">
            <div class="row">
              <div class="col-md-6">
                <span class="tv-card-time-tm"><i class="material-icons">access_time</i> May 2016</span>
              </div>
              <div class="col-md-6 tv-card-link">
              <a href="#"> Learn More...</a>
              </div>
            </div>
            
          </div>
        </article>
        <!-- End Card Item -->
      </div>
      <div class="col-md-4 tv-filter-item tv-case-study" data-category="insurance">
        
        <article class="tv-card-tm">
          
          <figure class="tv-thumb-card-tm">
            <a href="#">
              <img src="https://www.artelys.com/uploads/images/telecommunications/Tel2.jpg" alt="" />
            </a>
            <div class="tv-card-icon-tm" style="background-color:#009688;">
              <a href="#">
               <i class="material-icons">settings_input_antenna</i>
              </a>
            </div>
            <div class="tv-card-category-tm" style="background-color:#009688;">
              <a href="#">Insurance
  </a></div>
          </figure>
          <div class="tv-card-title-tm">
            <a href="#">
              Insurance
  
            </a>
          </div>
          <div class="tv-card-sub-title-tm">
            <p>Some Sub title important...</p>
          </div>
          <div class="tv-card-description-tm">
            <p>Some Description for de case study not too long...</p>
          </div>
          <div class="tv-card-footer-tm">
            <div class="row">
              <div class="col-md-6">
                <span class="tv-card-time-tm"><i class="material-icons">access_time</i> May 2016</span>
              </div>
              <div class="col-md-6 tv-card-link">
              <a href="#"> Learn More...</a>
              </div>
            </div>
            
          </div>
        </article>
        <!-- End Card Item -->
        
        
      </div>
      <div class="col-md-4 tv-filter-item tv-case-study" data-category="manufacturing">
        <article class="tv-card-tm">
          
          <figure class="tv-thumb-card-tm">
            <a href="#">
              <img src="https://www.artelys.com/uploads/images/telecommunications/Tel2.jpg" alt="" />
            </a>
            <div class="tv-card-icon-tm" style="background-color:#FF5722;">
              <a href="#">
               <i class="material-icons">settings_input_antenna</i>
              </a>
            </div>
            <div class="tv-card-category-tm" style="background-color:#FF5722;">
              <a href="#">Manufacturing
  </a></div>
          </figure>
          <div class="tv-card-title-tm">
            <a href="#">
              Manufacturing
  
            </a>
          </div>
          <div class="tv-card-sub-title-tm">
            <p>Some Sub title important...</p>
          </div>
          <div class="tv-card-description-tm">
            <p>Some Description for de case study not too long...</p>
          </div>
          <div class="tv-card-footer-tm">
            <div class="row">
              <div class="col-md-6">
                <span class="tv-card-time-tm"><i class="material-icons">access_time</i> May 2016</span>
              </div>
              <div class="col-md-6 tv-card-link">
              <a href="#"> Learn More...</a>
              </div>
            </div>
            
          </div>
        </article>
        <!-- End Card Item -->
      </div>
      <div class="col-md-4 tv-filter-item tv-case-study" data-category="mining">
        <article class="tv-card-tm">
          
          <figure class="tv-thumb-card-tm">
            <a href="#">
              <img src="https://www.artelys.com/uploads/images/telecommunications/Tel2.jpg" alt="" />
            </a>
            <div class="tv-card-icon-tm" style="background-color:#795548;">
              <a href="#">
               <i class="material-icons">settings_input_antenna</i>
              </a>
            </div>
            <div class="tv-card-category-tm" style="background-color:#795548;">
              <a href="#">Mining
  </a></div>
          </figure>
          <div class="tv-card-title-tm">
            <a href="#">
              Mining
  
            </a>
          </div>
          <div class="tv-card-sub-title-tm">
            <p>Some Sub title important...</p>
          </div>
          <div class="tv-card-description-tm">
            <p>Some Description for de case study not too long...</p>
          </div>
          <div class="tv-card-footer-tm">
            <div class="row">
              <div class="col-md-6">
                <span class="tv-card-time-tm"><i class="material-icons">access_time</i> May 2016</span>
              </div>
              <div class="col-md-6 tv-card-link">
              <a href="#"> Learn More...</a>
              </div>
            </div>
            
          </div>
        </article>
        <!-- End Card Item -->
      </div>
    </div>
  </div>
