<div class="row">
  <div class="col-md-3">
    <header class="py-3 bg-dark">
      <a href="#" class="sidebar-toggler position-absolute m-2 bg-white d-block d-md-none" data-toggle="collapse"
        data-target="#sidebar-main" aria-controls="sidebar-main" aria-expanded="false" aria-label="Toggle navigation">
        <span class="sidebar-toggler-icon"></span>
      </a>
      <h1 class="text-center text-white"><small>Toutes les Offres</small></h1>
    </header>

    <!-- Main sidebar -->
    <div id="sidebar-main" class="sidebar sidebar-default sidebar-separate sidebar-fixed">
      <div class="sidebar-content">
        <div class="sidebar-category sidebar-default">
          <div class="sidebar-user">
            <div class="category-content">
              <h6>Categories</h6>
              <small>offres</small>
            </div>
          </div>
        </div>
        <!-- /Sidebar Category -->
        <div class="sidebar-category sidebar-default">
          <div class="category-title">
            <span>Emplois</span>
          </div>
          <div class="category-content">
            <ul id="fruits-nav" class="nav flex-column">
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                  Enseignement
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                  immobilier
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link active">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                  Hotellerie
                </a>
              </li>
              <li class="nav-item">
                <a href="#other-fruits" class="nav-link" data-toggle="collapse" role="button" aria-expanded="false"
                  aria-controls="other-fruits">
                  
                  Autres
                </a>
                <ul id="other-fruits" class="flex-column collapse">
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      
                      <i class="fa fa-pencil" aria-hidden="true"></i>
                      Medecine
                    </a>
                  </li>
                  <li class="nav-item ">
                    <a href="#" class="nav-link">
                      <i class="fa fa-pencil" aria-hidden="true"></i>
                      Avocat
                    </a>
                  </li>
                </ul>
                <!-- /Sub Nav -->
              </li>
            </ul>
            <!-- /Nav -->
          </div>
          <!-- /Category Content -->
        </div>
        <!-- /Sidebar Category -->
        <div class="sidebar-category sidebar-default">
          <div class="category-title">
            <span>Stage</span>
          </div>
          <div class="category-content">
            <ul id="sidebar-editable-nav" class="nav flex-column">
              <li class="nav-item">
                <a href="/admin/customers" class="nav-link">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                  Vente
                </a>
              </li>
              <li class="nav-item">
                <a href="/admin/resettest" class="nav-link">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                  Finance
                </a>
              </li>
              <li class="nav-item">
                <a href="/admin/usersprofiles" class="nav-link">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                  Developpement web
                </a>
              </li>
              <li class="nav-item">
                <a href="/admin/users" class="nav-link active">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                  Hotelerie
                </a>
              </li>
            </ul>
            <!-- /Nav -->
          </div>
          <!-- /Category Content -->
        </div>
        <!-- /Sidebar Category -->
      </div>
    </div>


  </div>
  <div class="col-md-7">
    <h1>Ne ratez aucune offre</h1>

    <p>Nos offres sont presentees suivant un ordre chronologique, ne manquez aucune offre.Soyez les premiers a etre
      notifie des prochaines offres en cliquant sur le lien suivant <a href="#">clic ici</a>
    </p>

    <input type="text" id="search_field" placeholder="Auto Search" size="auto">
   <div class="wrapper">
    <ul id="demonames" class="list">
      <li>
        <div class="card">
          <div class="card-title">
            <span class="demoname">offre 0</span>
          </div>
          <div class="card-body">
            <span class="demoname">Brieve description offre 0 ... </span>
            <div class="postuler">
              <button type="button" class="btn btn-outline-success">Postuler</button>
            </div>
          </div>
          <div class="card-footer">
            Lundi 12/12/20 a 10:20
          </div>
        </div>
      </li>
      <li>
        <div class="card">
          <div class="card-title">
            <span class="demoname">offre 1</span>
          </div>
          <div class="card-body">
            <span class="demoname">Brieve description offre 1 ... </span>
          </div>
          <div class="card-footer">
            Mercredi 12/12/20 a 11:20
          </div>
        </div>
      </li>
      <li>
        <div class="card">
          <div class="card-title">
            <span class="demoname">offre 2</span>
          </div>
          <div class="card-body">
            <span class="demoname">Brieve description offre 2 ... </span>
            <div class="postuler">
              <button type="button" class="btn btn-outline-success">Postuler</button>
            </div>
          </div>
          <div class="card-footer">
            Jeudi 12/12/20 a 10:20
          </div>
        </div>
      </li>
      <li>
        <div class="card">
          <div class="card-title">
            <span class="demoname">offre 3</span>
          </div>
          <div class="card-body">
            <span class="demoname">Brieve description offre 3 ... </span>
            <div class="postuler">
              <button type="button" class="btn btn-outline-success">Postuler</button>
            </div>
          </div>
          <div class="card-footer">
            Samedi 12/12/20 a 10:20
          </div>
        </div>
      </li>
    </ul>
    <button id="next"><mat-icon>cached</mat-icon>Voir plus</button>
   </div>

    



  </div>
  <div class="col-md-2">
    <br />
    <br />
    <br />
    <div class="card">
      <div class="card-body" style="text-align: center;">
        <b>Partenaires</b>
      </div><br />
      <div class="card">
        <div class="card-body">
          <div class="sblogos__col">
            <a href="#" class="sblogos__link"><img class="sblogos__img" src="./../../../assets/img/logo1.webp"
                alt="logo" width="100%" /></a>
          </div>

        </div><br />
        <div class="card">
          <div class="card-body">
            <div class="sblogos__col">
              <a href="#" class="sblogos__link">
                <img class="sblogos__img" src="./../../../assets/img/logo2.jpg" alt="logo" width="100%" /></a>
            </div>
          </div><br />
          <div class="card">
            <div class="card-body">
              <div class="sblogos__col">
                <a href="#" class="sblogos__link"><img class="sblogos__img" src="./../../../assets/img/logo3.png"
                    width="100%" alt="logo" /></a>
              </div>

            </div><br />
            <div class="card">
              <div class="card-body">
                <div class="sblogos__col">
                  <a href="#" class="sblogos__link"><img class="sblogos__img" width="100%"
                      src="./../../../assets/img/logo5.png" alt="logo" /></a>
                </div>

              </div>
              <div class="card">
                <div class="card-body">
                  <div class="sblogos__col">
                    <a href="#" class="sblogos__link"><img class="sblogos__img" width="100%"
                        src="./../../../assets/img/logo6.png" alt="logo" /></a>
                  </div>
                </div>
              </div>
            </div>