<div class="outer">
  <br />
  <div class="inner">
    <div style="color: teal;"><br/><br/>
      Obtenez un Job ou un Stage!
    <br />
    </div>
    
    <button class="btn-linear btn-linear-top">
      <span>POSTULER A UNE OFFRE</span> 
    </button>
    <div style="color: black;">    Obtenez votre employe et/ou 
     <br/>faites connaitre votre structure!
    <br />
   <span> <button class="btn btn-from-right">
      <span>POSTER UNE OFFRE </span>
    </button>
   </span><br/>
   <br/><br/><br/>
   
   <a href="#" class="scroll-down" address="true"></a>
  </div>
 
</div>

