<div class="cards-list">
  
    <div class="card 1">
      <div class="card_image"> <img src="https://i.redd.it/b3esnz5ra34y.jpg" /> </div>
      <div class="card_title title-white">
        <p>CANDIDAT</p>
      </div>
    </div>
    
    <div class="card 1">
        <div class="card_image"> <img src="https://i.redd.it/b3esnz5ra34y.jpg" /> </div>
        <div class="card_title title-white">
          <p>RECRUTEUR</p>
        </div>
      </div>
    
    <div class="card 3">
      <div class="card_image">
        <img src="https://media.giphy.com/media/10SvWCbt1ytWCc/giphy.gif" />
      </div>
      <div class="card_title">
        <p>CONSEILS</p>
      </div>
    </div>
      
      <div class="card 4">
      <div class="card_image">
        <img src="https://media.giphy.com/media/LwIyvaNcnzsD6/giphy.gif" />
        </div>
      <div class="card_title title-black">
        <p>CONTACT</p>
      </div>
      </div>
    
    </div>


      <div class="row">
        
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div style="height: auto; background: #8432df; color: #1c1d1d; margin-bottom: 20px;">
            <h4 style="line-height: 40px; text-align: center; padding: 30px 20px 30px 20px;">Recrutement en lligne.</h4>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          
    <div class="first hero">
        <div class="hero-description-bk"></div>
        
        <div class="hero-description">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div  class="hero-date">
          <p>20.02.2019</p>
        </div>
        <div class="hero-btn">
          <a href="#">Learn More</a>
        </div>
      </div>
        </div>
        <div style="min-width: 50%;" class="col-md-6 col-sm-6 col-xs-12">
          <h2>Growing by the day.</h2>
          <hr style="border: 1px solid #00000026; width: 25%; margin-left:0;"><br>
          <p>We are always looking for new photographers to collaborate and expand together with. Our thoughtfully constructed pricing options are fit for your needs at an affordable cost. In fact, you can pay off the cost with the sale of just one or two prints.</p><br><button class="btn-sections">Learn more</button><hr style="border: none; height: 1px;"><br><h4 style="line-height: 25px;">We are currently working with <span style="border-radius: 1px; background: #fcda5a; padding: 5px 10px 5px 11px;">16</span> talented photographers.</h4>
          </div>