


.outer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(247, 242, 242, 0.5), rgba(0,0,0,.5)), url("./../../../assets/img/entretien.jpg");
  background-repeat:no-repeat;
background-position:left top;
  width: 100%;
  height: 600px;
  background-size: 100%;
}

.inner{
  text-align: center;
  font-size: 30px;
  color: white;
}


*{
  box-sizing: border-box;
  outline: none;
}
html{
  font-size: 100%;
}
body{
  background-color: white;
  text-align: center;
  
  font-size: 1.2rem;
  font-family: arial;
  color: #333;
}
.wrapper{
  width: 800px;
  padding: 30px;
  margin: 30px auto;
  background-color: #ddd;
}
h1{
  font-size: 3rem;
  
  text-align: left;
  margin-bottom: 100px;
  letter-spacing: 0px;
  font-weight: normal;
  color: tomato;
  padding-bottom: 10px;
  border-bottom: 3px solid tomato;

}

h2{
  text-align: left;
  font-weight: normal;
  font-size: 2rem;
  border-bottom: 1px solid olive;
  padding-bottom: 10px;
  color: olive;
  margin: 100px 0 50px 0;
}


button{
  display: block;
  margin: 20px auto 50px;
  background: transparent;
  border: 0.2em solid #333;
  padding: 0.8em 1em;
  font-size: 1.0rem;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  
}

.btn::before,
.btn::after{
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: #333;
  position: absolute;
  top: auto;
  left: auto;
  z-index: 2;
}


span{
  position: relative;
  z-index: 3; 
}

.btn:hover span{
  color: #ddd;
}
/*from left*/

.btn-from-left:after{
  display: none;
}

.btn-from-left:before{
  top: 0;
  left: -100%;
  transition: all 0.2s linear;
}

.btn-from-left:hover:before{
  transition: all 0.5s cubic-bezier(0.4, 0, 0.7, 1.3);
  left: 0%;
}

/*from right*/

.btn-from-right:after{
  display: none;
}

.btn-from-right:before{

  top: 0;
  right: -100%;
  transition: all 0.4s ease-in-out;
}

.btn-from-right:hover:before{
  right: 0%;
}


/*from top*/


.btn-from-top:after{
  display: none;
}

.btn-from-top:before{

  top: -100%;
  left: 0;
  transition: all 0.4s ease-in-out;
}

.btn-from-top:hover:before{
  top: 0;
}
/*from bottom*/


.btn-from-bottom:after{
  display: none;
}

.btn-from-bottom:before{

  top: 100%;
  left: 0;
  transition: all 0.4s cubic-bezier(0.9,-0.14, 0.34, 1.46);
}

.btn-from-bottom:hover:before{
  top: 0;
}


/*from left and right*/

.btn-from-left-and-right:before{
  transition: all 0.4s ease-in-out;
  display: block;
  width: 50%;
  height: 100%;
  top: 0;
  left: -50%;
}
.btn-from-left-and-right:after{
  transition: all 0.4s ease-in-out 0s;
  display: block;
  width: 50%;
  height: 100%;
  top: 0;
  right: -50%;
}

.btn-from-left-and-right:hover:before{
  left: 0;
}

.btn-from-left-and-right:hover:after{
  right: 0;
}
/* slide from top and bottom*/

.btn-from-top-and-bottom:before{
  height: 50%;
  top: -50%;
  left: 0;
  transition: all 0.4s ease-in-out 0s;
}

.btn-from-top-and-bottom:after{
  height: 50%;
  bottom: -50%;
  left: 0;
  transition: all 0.4s ease-in-out 0s;
}


.btn-from-top-and-bottom:hover:before{
  top: 0;
  left: 0;
 
}

.btn-from-top-and-bottom:hover:after{
  bottom: 0;
  left: 0;
  
}

/*LINEAR GRADIENT*/

.btn-linear{
  border-color: darkslategrey;
  color: darkslategrey;
}

.btn-linear{
  transition: all 0.3s ease-in-out;
  background: linear-gradient(darkslategrey,darkslategrey) no-repeat;
  background-size: 0% 0%;
    
}

.btn-linear-left{
  background-size: 0 100%;
  background-position: left center;
}
.btn-linear-left:hover{
  background-size: 100% 100%;
  color: #fff;
}
.btn-linear-right{
  background-size: 0 100%;
  background-position: right center;
}
.btn-linear-right:hover{
  background-size: 100% 100%;
   color: #fff; 
    
}
/**/

.btn-linear-top{
  background-size: 100% 0;
  background-position: center top;
}
.btn-linear-top:hover{
  background-size: 100% 100%;
  color: #fff; 
}


/**/

.btn-linear-bottom{
  background-size: 100% 0;
  background-position: center bottom;
}
.btn-linear-bottom:hover{
  background-size: 100% 100%;
  color: #fff; 
}
