<div class="outer">
  <br /><br /><br />
  <div class="inner">
    <div style="color:darkslategrey;"><br/><br/>
      Obtenez un Job ou un Stage!
    <br />
    </div>

    <button class="btn-linear btn-linear-top" (click)="offer_list()">
      <span>POSTULER A UNE OFFRE</span>
    </button>
    <div style="color: black;">    Obtenez votre employe et/ou
     <br/>faites connaitre votre structure!
    <br />
   <span> <button class="btn btn-from-right" (click)="new_offer()">
      <span>POSTER UNE OFFRE </span>
    </button>
   </span><br/>
   <br/><br/><br/>


  </div>

</div>
</div>




