<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-11 col-sm-10 col-md-10 col-lg-6 col-xl-5 text-center p-0 mt-3 mb-2">
      <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
        <h2 id="heading">Creation d'une Offre</h2>
        <p>Tous les champs doivent etre remplis</p>
        <form id="msform">
          <!-- progressbar -->
          <ul id="progressbar">
            <li class="active" id="account"><strong>Offre</strong></li>
            <li id="personal"><strong>Poste</strong></li>
            <li id="payment"><strong>Companie</strong></li>
            <li id="confirm"><strong>Termine</strong></li>
          </ul>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div> <br> <!-- fieldsets -->
          <fieldset>
            <div class="form-card">
              <div class="row">
                <div class="col-7">
                  <h2 class="fs-title">Informations sur l'offre:</h2>
                </div>
                <div class="col-5">
                  <h2 class="steps">Step 1 - 4</h2>
                </div>
              </div>
              <label class="fieldlabels">Titre: *</label>
              <input type="text" name="titre" placeholder="Recherche d'une menagere, Emploi Etudiant...etc" />
              <label class="fieldlabels">Description de l'offre: *</label>

              <label class="fieldlabels">Date debut: *</label> <input type="Date" name="date_debut"
                placeholder="aujourd'hui" />
              <label class="fieldlabels">Date fin: *</label> <input type="Date" name="date_fin" placeholder="Demain" />



            </div> <input type="button" name="next" class="next action-button" value="Next" />

          </fieldset>
          <fieldset>
            <div class="form-card">
              <div class="row">
                <div class="col-7">
                  <h2 class="fs-title">Informations sur le Poste:</h2>
                </div>
                <div class="col-5">
                  <h2 class="steps">Etape 2 - 4</h2>
                </div>
              </div>
              <label class="fieldlabels">Description du poste: *</label>
              <div class="form-group">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
              <label class="fieldlabels">Competence recherchee: *</label>
              <input type="text" name="fcomp" placeholder="Bacc + 4 en informatique" />
              <input type="text" name="fcomp" placeholder="Bacc + 4 en informatique" />
              <label class="fieldlabels">Salaire: *</label>
              <input type="text" name="fcomp" placeholder="180000 FCFA" />
              <div class="form-group col-md-4">
                <select id="inputState" class="form-control">
                  <option selected>CDI</option>
                  <option>CDD</option>
                  <option>CA</option>
                  <option>CTT</option>
                  <option>CP</option>
                  <option>CUI</option>

                </select>
              </div>
            </div> <input type="button" name="next" class="next action-button" value="Next" /> <input type="button"
              name="previous" class="previous action-button-previous" value="Previous" />
          </fieldset>
          <fieldset>
            <div class="form-card">
              <div class="row">
                <h2 class="fs-title">Informations sur la companie:</h2>
                <div class="col-5">
                  <h2 class="steps">Etape 3 - 4</h2>
                </div>
              </div>


              <label for="country">Companie</label>
              <select name="Companie" id="country">
                <option disabled selected="selected">Select</option>
                <option value="aucune">Aucune</option>
                <option value="chaussure">chaussure</option>
              </select>


              <div class="aucune" style="display:none;">



                <label for="state">Nom Companie:</label>
                <input name="nom" type="text" value="">

                <label for="secteur">Secteur activite</label>
                <select name="secteur" id="country">
                  <option disabled selected="selected">Select</option>
                  <option value="aucune">Agriculture</option>
                  <option value="chaussure">Informatique</option>
                </select>

                <label class="fieldlabels">Email:</label>
                <input type="email" name="email" placeholder="company@company">
                <label class="fieldlabels">Site web:</label>
                <input type="text" name="url" placeholder="url">
                <label class="fieldlabels">Localisation:</label>
                <input type="text" name="localisation" placeholder="localisation">
              </div>
              <!--  /.usa  -->

              <div class="choix" style="display:none;">


                <label for="postalCode">Telephone</label>
                <input name="postalCode" type="number" value="" maxlength="6">


              </div>
            </div>
            <input type="button" name="next" class="next action-button" value="Submit" /> <input type="button"
              name="previous" class="previous action-button-previous" value="Previous" />
          </fieldset>
          <fieldset>
            <div class="form-card">
              <div class="row">
                <div class="col-7">
                  <h2 class="fs-title">Termine:</h2>
                </div>
                <div class="col-5">
                  <h2 class="steps">Step 4 - 4</h2>
                </div>
              </div> <br><br>
              <h2 class="purple-text text-center"><strong>SUCCESS !</strong></h2> <br>
              <div class="row justify-content-center">
                <div class="col-3"> <img src="https://i.imgur.com/GwStPmg.png" class="fit-image"> </div>
              </div> <br><br>
              <div class="row justify-content-center">
                <div class="col-7 text-center">
                  <h5 class="purple-text text-center">You Have Successfully Signed Up</h5>
                </div>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>