<table class="table" border="1">
    <thead>
      <tr>
        <th>Coluna 1</th>
        <th>Coluna 2</th>
        <th><input type="checkbox" class="checkAll" name="checkAll" /></th>
      </tr>
    </thead>
    <tbody>
      <tr role="row">
        <td>Texto 1</td>
        <td>Texto 2</td>
        <td><input type="checkbox" name="check" /></td>
      </tr>
      <tr role="row">
        <td>Texto 1</td>
        <td>Texto 2</td>
        <td><input type="checkbox" name="check" /></td>
      </tr>
      <tr role="row">
        <td>Texto 1</td>
        <td>Texto 2</td>
        <td><input type="checkbox" name="check" /></td>
      </tr>
      <tr role="row">
        <td>Texto 1</td>
        <td>Texto 2</td>
        <td><input type="checkbox" name="check" /></td>
      </tr>
      <tr role="row">
        <td>Texto 1</td>
        <td>Texto 2</td>
        <td><input type="checkbox" name="check" /></td>
      </tr>
    </tbody>
  </table>
  
  <table class="table" border="1">
    <thead>
      <tr>
        <th>Coluna 1</th>
        <th>Coluna 2</th>
        <th><input type="checkbox" class="checkAll" name="checkAll" /></th>
      </tr>
    </thead>
    <tbody>
      <tr role="row">
        <td>Texto 1</td>
        <td>Texto 2</td>
        <td><input type="checkbox" name="check" /></td>
      </tr>
      <tr role="row">
        <td>Texto 1</td>
        <td>Texto 2</td>
        <td><input type="checkbox" name="check" /></td>
      </tr>
      <tr role="row">
        <td>Texto 1</td>
        <td>Texto 2</td>
        <td><input type="checkbox" name="check" /></td>
      </tr>
      <tr role="row">
        <td>Texto 1</td>
        <td>Texto 2</td>
        <td><input type="checkbox" name="check" /></td>
      </tr>
      <tr role="row">
        <td>Texto 1</td>
        <td>Texto 2</td>
        <td><input type="checkbox" name="check" /></td>
      </tr>
    </tbody>
  </table>